---
import { getCollection } from 'astro:content';
import Base from '@layouts/Base.astro';
import { getEntryBySlug } from 'astro:content';
import Intro from '@components/Intro.astro';
import Services from '@components/Services.astro';
import Testimonials from '@components/Testimonials.astro';
import Features from '@components/Features.astro';
import Banners from '@components/Banners.astro';
import Splash from '@components/Splash.astro';
import Hero from '@components/Hero.astro';
import Posts from '@layouts/Posts.astro';
// import ContactMenu from '@components/ContactMenu.astro';

const homepage = await getEntryBySlug('homepage', 'index');
const { intro, services, testimonials, features, banners } = homepage.data;

const posts = (await getCollection('uslugi')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Base>
  <Splash />
  <div class="space-y-24 px-4 py-32 md:px-8">
    <Intro {intro} />
    <Posts {posts} />
    <Hero />
    <Services services={services} />
    <Testimonials testimonials={testimonials} />
    <Features features={features} />
    <Banners banners={banners} />
  </div>
</Base>
