---
import Base from '@layouts/Base.astro';
import { getEntryBySlug } from 'astro:content';
import Intro from '@components/Intro.astro';
import Services from '@components/Services.astro';
import Testimonials from '@components/Testimonials.astro';
import Features from '@components/Features.astro';
import Banners from '@components/Banners.astro';
import Splash from '@components/Splash.astro';
import Hero from '@components/Hero.astro';
import Intr from '@components/Intr.astro';

const homepage = await getEntryBySlug('homepage', 'index');
const { intro, services, testimonials, features, banners } = homepage.data;
---

<Base>
  <Splash />
  <div class="space-y-24 px-4 py-32 md:px-8">
    <Intro intro={intro} />
    <Intr {intro} />
    <Hero />
    <Services services={services} />
    <Testimonials testimonials={testimonials} />
    <Features features={features} />
    <Banners banners={banners} />
  </div>
</Base>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, -30px, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
