---
import { Image } from "@astrojs/image/components";
import PageHeader from "@components/PageHeader.astro";
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("contact", "feedback");
const { otzyv_otpravlen } = config.params;
const contact = entry.data;
const page_data = {
  ...contact,
  content: contact.body,
};
---

<Base
  title={contact.title}
  meta_title={contact.meta_title}
  description={contact.description}
  image={contact.image}
>
  <section class="page-hero pb-6 pt-16">
    <div class="container"><PageHeader page_data={page_data} /></div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="mb-10 text-center md:col-6 md:order-2 md:mb-0 md:pt-9">
          <div class="contact-img relative inline-flex pb-5 pl-5">
            <Image
              src="/images/feedback.webp"
              height={405}
              width={700}
              alt=""
            />
          </div>
        </div>
        <div class="md:col-6 md:order-1">
          <form
            class="lg:max-w-[484px]"
            action={otzyv_otpravlen}
            name="Отзыв"
            method="POST"
            data-netlify="true"
          >
            <div class="form-group mb-5">
              <label class="form-label" for="name"></label>
              <input
                class="form-control"
                type="text"
                name="Имя"
                placeholder="Ваше имя"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label ml-3" for="Оценка">Оценка</label>
              <select name="Оценка" class="form-select" required>
                <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
                <option value="4">⭐️⭐️⭐️⭐️☹️</option>
                <option value="3">⭐️⭐️⭐️☹️☹️</option>
                <option value="2">⭐️⭐️☹️☹️☹️</option>
                <option value="1">⭐️☹️☹️☹️☹️</option>
              </select>
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="Отзыв"></label>
              <textarea
                class="form-control h-[150px]"
                name="Отзыв"
                cols="30"
                rows="10"
                placeholder="Ваш отзыв"></textarea>
            </div>
            <input
              class="btn btn-primary block w-full"
              type="submit"
              value="Отправить отзыв"
            />
          </form>
          <p class="ml-4 mt-4 w-full text-xs">
            Отправляя запрос, Вы соглашаетесь на обработку <a href="/policy"
              >персональных данных</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</Base>
