---
import { Image } from 'astro:assets';
import config from '@config/config.json';
import TelegramIcon from '@components/icons/TelegramIcon.astro';
import WhatsappIcon from '@components/icons/WhatsappIcon.astro';
import menu from '@config/menu.json';
import HamburgerIcon from '@icons/HamburgerIcon.astro';
import CloseIcon from '@icons/CloseIcon.astro';
import HomeIcon from '@icons/HomeIcon.astro';
import ThemeIcon from '@components/ThemeIcon.astro';

export interface NavigationLink {
  name: string;
  url: string;
}

const { main }: { main: NavigationLink[] } = menu;
---

<header
  class="sticky top-0 z-20 flex w-full items-center justify-between border-b border-transparent bg-white/50 py-2 pl-6 pr-8 backdrop-blur-sm ease-in-out dark:bg-white/10 lg:pl-8"
>
  <a class="hover:!text-default flex items-center gap-1" href="/">
    <figure>
      <Image
        src={config.site.logo}
        alt={config.site.title}
        class="w-16 rounded-full bg-white"
        width={512}
        height={512}
        decoding="async"
        loading="lazy"
      />
    </figure>
    <span class="ml-4 hidden font-bold text-cyan-700/100 dark:text-white/100 sm:block">{config.site.brand}</span>
  </a>

  <div class="flex items-center gap-6 lg:order-last">
    <div class="hidden sm:block">
      <ul class="flex items-center gap-2">
        <li>
          <a class="text-sm font-bold text-cyan-700/100 dark:text-white/100 md:mr-4" href="tel:+79372758313">
            +7 937 275 83 13</a
          >
        </li>
        <li>
          <a
            class="inline-flex h-10 w-10 items-center justify-center rounded-full text-center text-gray-500 transition hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white dark:text-gray-500 dark:hover:bg-gray-800 dark:hover:text-gray-200"
            href="https://t.me/79372758313"
          >
            <span class="sr-only">Telegram</span>
            <TelegramIcon />
          </a>
        </li>
        <li>
          <a
            class="inline-flex h-10 w-10 items-center justify-center rounded-full text-center text-gray-500 transition hover:bg-green-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white dark:text-gray-500 dark:hover:bg-gray-800 dark:hover:text-gray-200"
            href="https://wa.me/79372758313"
          >
            <span class="sr-only">Whatsapp</span>
            <WhatsappIcon />
          </a>
        </li>
        <li class="ml-2 pt-2">{config.features.dark_mode && <ThemeIcon />}</li>
      </ul>
    </div>
  </div>

  <div class="">
    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label id="show-button" for="nav-toggle" class="order-2 flex cursor-pointer items-center text-zinc-400 md:hidden">
      <HamburgerIcon />
    </label>
    <label id="hide-button" for="nav-toggle" class="order-2 hidden cursor-pointer items-center text-zinc-400">
      <CloseIcon />
    </label>
    <div
      id="nav-menu"
      class="fixed right-0 top-16 z-10 mt-4 hidden w-full divide-y divide-zinc-100 rounded-md border border-zinc-100 bg-white p-2 shadow-lg dark:border-zinc-900 dark:bg-zinc-800"
    >
      <ul class="py-2 text-center text-lg font-bold text-cyan-700/100 dark:text-white/100">
        {
          main?.map((menu) => (
            <li>
              <a
                href={menu?.url}
                class="block rounded-lg px-4 py-2 text-xl font-bold text-cyan-700/100 hover:bg-zinc-50 hover:text-teal-700 dark:text-white/100 dark:hover:bg-teal-200 dark:hover:text-teal-800"
              >
                {menu?.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <ul class="ml-auto hidden items-center gap-6 md:flex lg:flex">
      {
        main?.map((menu) => (
          <li class="text-md block rounded-lg px-2 py-2 text-cyan-700/100 transition-all hover:text-cyan-500 dark:text-white/100 dark:hover:text-cyan-200">
            <a href={menu?.url} class="relative flex items-center font-bold">
              {menu?.name === 'Home' ? <HomeIcon /> : menu?.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</header>
