---
import SectionBlock from '@layouts/SectionBlock.astro';
import { Image } from 'astro:assets';
const { our_service } = Astro.props;
const { title, title_id, description, list_service } = our_service;
---

<SectionBlock id="tehnologiya">
  <div id={title_id} class="max-w-full">
    <div class="mx-auto mb-10 mt-14 text-center lg:mb-14 lg:mt-24 lg:max-w-3xl">
      <h2 class="mx-4 mb-6 text-3xl font-extrabold text-transparent lg:mb-10 lg:text-5xl">{title}</h2>
      <p class="font-extrabold lg:mt-4 lg:text-2xl">{description}</p>
    </div>
    {
      list_service.map((item: any, index: number) => (
        <div
          class={`max-w-full ${
            index % 2 === 0 ? ' bg-gradient-to-br from-sky-700/10 via-cyan-700/10 to-teal-700/10' : ''
          }`}
        >
          <div class="mx-auto max-w-6xl" id={item.title_id && item.title_id}>
            <div class="flex flex-col py-12 md:flex-row">
              <div class={`grid basis-full content-center p-2 md:basis-1/3 ${index % 2 === 0 ? 'order-0' : 'order-1'}`}>
                {item.image && (
                  <div class="relative">
                    <Image
                      class="w-full rounded-xl object-contain"
                      alt={item.title}
                      width={670}
                      height={450}
                      src={item.image}
                    />
                  </div>
                )}
                {item.price_title && (
                  <div class="gradientBg mx-auto my-4 max-w-full rounded-xl p-14 text-center shadow-lg">
                    <h3 class="flex justify-center px-4 pt-6 font-bold lg:text-xl">
                      <div class="text-white">{item.price_title}</div>
                    </h3>
                    <div class="flex flex-wrap justify-center gap-4 py-4">
                      <div class="flex max-w-[350px] flex-col gap-2 rounded-xl bg-gray-200 bg-opacity-30 p-6 text-white shadow-md backdrop-blur-lg backdrop-filter">
                        {item.price_volume_1 && <div class="text-sm font-semibold">{item.price_volume_1}</div>}
                        <div class="text-3xl font-semibold tracking-tight">от {item.price_1} ₽</div>
                        <div class="font-normal">{item.price_unit}</div>
                      </div>
                      {item.price_2 && (
                        <div class="flex max-w-[500px] flex-col gap-2 rounded-xl bg-gray-200 bg-opacity-30 p-6 text-white shadow-md backdrop-blur-lg backdrop-filter">
                          {item.price_volume_2 && <div class="text-sm font-semibold">{item.price_volume_2}</div>}
                          <div class="text-3xl font-semibold tracking-tight">от {item.price_2} ₽</div>
                          <div class="font-normal">{item.price_unit}</div>
                        </div>
                      )}
                    </div>
                    <div class="flex justify-center pb-6">Минимальный объем работ - {item.min_volume_price} ₽</div>
                  </div>
                )}
              </div>
              <div class="grid basis-full content-center px-4 md:basis-2/3 lg:px-12">
                <div class={`mx-2 ${index % 2 === 0 ? 'md:ml-4' : 'md:mr-4'}`}>
                  <h2 class="mb-6 mt-8 text-xl lg:text-2xl">{item.title}</h2>
                  {item.description && <p class="my-4 text-lg">{item.description}</p>}
                  {item.description_pp && <p class="my-4 text-lg">{item.description_pp}</p>}
                  {item.description_ppp && <p class="my-4 text-lg">{item.description_ppp}</p>}
                  {item.info && <p class="my-4 text-lg font-semibold italic">{item.info}</p>}
                  {item.principle_operation_title && (
                    <p class="text-md my-2 font-bold lg:text-lg">{item.principle_operation_title}</p>
                  )}
                  {item.principle_operation && <p class="text-md lg:text-lg">{item.principle_operation}</p>}
                  {item.advantages_list_title && (
                    <p class="text-md my-3 font-bold lg:text-lg">{item.advantages_list_title}</p>
                  )}
                  {item.advantages_list_title_slim && (
                    <p class="text-md my-3  lg:text-lg">{item.advantages_list_title_slim}</p>
                  )}
                  {item.advantages_list && (
                    <ul class="text-dark lg:-ml-4">
                      {item.advantages_list &&
                        item.advantages_list.map((list: any) => (
                          <li class="text-md flex items-center rounded px-4 lg:text-lg">
                            <b class="mr-3">+ </b>
                            {list}
                          </li>
                        ))}
                    </ul>
                  )}
                  {item.disadvantages_list_title && (
                    <p class="text-md my-3 font-bold lg:text-lg">{item.disadvantages_list_title}</p>
                  )}
                  {item.disadvantages_list_title_slim && (
                    <p class="text-md my-3  lg:text-lg">{item.disadvantages_list_title_slim}</p>
                  )}
                  {item.disadvantages_list && (
                    <ul class="text-dark lg:-ml-4">
                      {item.disadvantages_list &&
                        item.disadvantages_list.map((negativelist: any) => (
                          <li class="text-md flex items-center rounded px-4 lg:text-lg">
                            <b class="mr-3">- </b>
                            {negativelist}
                          </li>
                        ))}
                    </ul>
                  )}

                  {item.link && (
                    <a href={item.link} class="relative ml-4 mt-10 flex w-32 items-center justify-center">
                      <div class="gradientBgBtn absolute flex h-[80%] w-24 animate-ping items-center justify-center rounded-full opacity-75" />
                      <div class="gradientBgBtn hover:gradientBgNimb text-md z-10 flex w-32 items-center justify-center gap-x-3 rounded-lg border border-transparent px-4 text-center font-semibold text-white transition lg:text-lg">
                        Заказать
                      </div>{' '}
                    </a>
                  )}
                  <ul class="text-dark mt-6 lg:-ml-4">
                    {item.list &&
                      item.list.map((list: any) => (
                        <li class="text-md mb-2 flex rounded px-4 lg:text-lg">
                          <b class="mr-3">+</b>
                          {list}
                        </li>
                      ))}
                  </ul>
                  {item.price && <div class="text-primary text-md mt-6 lg:text-lg">{item.price}</div>}
                </div>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</SectionBlock>
