---
import Base from '@layouts/Base.astro';
import { Image } from 'astro:assets';
import { getEntryBySlug } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import HeroService from '@components/HeroService.astro';
import CalendarIcon from '@icons/CalendarIcon.astro';
import CategoryIcon from '@icons/CategoryIcon.astro';
import config from '@config/config.json';
import Banners from '@components/Banners.astro';
import ServiceMethod from '@components/ServiceMethod.astro';
import Features from '@components/Features.astro';
import type { CollectionEntry } from 'astro:content';
import { slugify } from '@utils/slug';

const homepage = await getEntryBySlug('homepage', 'index');
const { features } = homepage.data;

type Props = CollectionEntry<'uslugi'>['data'];

const {
  title,
  description,
  pubDate,
  descr,
  heroImage,
  categories,
  tags,
  icon,
  box,
  min_price,
  h_one,
  list_services,
  banners,
  our_service,
} = Astro.props;
---

<Base meta_title={title} {description} image={heroImage} uslugipost>
  <article>
    <HeroService {heroImage} {descr} {h_one} {icon} {box} {min_price} {list_services} />
    <Banners {banners} />
    <div class="mx-2 my-12 lg:my-24">
      <Features {features} />
    </div>
    <ServiceMethod {our_service} />
    <div
      class="prose prose-lg prose-green mx-2 my-16 flex max-w-7xl flex-col md:prose-lg lg:mx-auto lg:my-24 lg:flex-row"
    >
      <div class="basis-full lg:basis-1/5">
        <div class="sticky top-24 mt-8">
          {
            list_services.map((service: any) => (
              <a href={service.url_id} class="">
                <div class="block rounded-lg px-4 py-2 text-xl font-bold text-cyan-700/100 hover:bg-zinc-50 hover:text-teal-700 dark:text-white/100 dark:hover:bg-teal-200 dark:hover:text-teal-800">
                  {service.name}
                </div>
              </a>
            ))
          }
        </div>
      </div>
      <div class="basis-full lg:basis-3/5"><slot /></div>
      <div class="basis-full lg:basis-1/5">
        <div class="sticky top-24 mx-4 mt-8">
          1111111 1111111 1111111 1111111 1111111 1111111 1111111 1111111 1111111 1111111 1111111 1111111 1111111
          1111111 1111111 1111111 1111111 1111111 1111111 1111111 1111111 1111111
        </div>
      </div>
    </div>
    <div style="width:560px;height:800px;overflow:hidden;position:relative;">
      <iframe
        style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box"
        src="https://yandex.ru/maps-reviews-widget/226327670406?comments"></iframe>
      <a
        href="https://yandex.ru/maps/org/usadba_izmaylovo/226327670406/"
        target="_blank"
        style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0"
        >Усадьба Измайлово на карте Москвы — Яндекс.Карты</a
      >
    </div>
  </article>
</Base>
