---
import Base from '@layouts/Base.astro';
import { Image } from 'astro:assets';
import { getEntryBySlug } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import HeroService from '@components/HeroService.astro';
import CalendarIcon from '@icons/CalendarIcon.astro';
import CategoryIcon from '@icons/CategoryIcon.astro';
import config from '@config/config.json';
import Banners from '@components/Banners.astro';
import ServiceMethod from '@components/ServiceMethod.astro';
import Features from '@components/Features.astro';
import type { CollectionEntry } from 'astro:content';
import { slugify } from '@utils/slug';

const homepage = await getEntryBySlug('homepage', 'index');
const { features } = homepage.data;

type Props = CollectionEntry<'uslugi'>['data'];

const {
  title,
  description,
  pubDate,
  descr,
  heroImage,
  categories,
  tags,
  icon,
  box,
  min_price,
  h_one,
  list_services,
  banners,
  our_service,
} = Astro.props;
---

<Base meta_title={title} {description} image={heroImage} uslugipost>
  <article>
    <HeroService {heroImage} {descr} {h_one} {icon} {box} {min_price} {list_services} />
    <Banners {banners} />
    <div class="mx-2 my-12 lg:my-24">
      <Features {features} />
    </div>
    <ServiceMethod {our_service} />
    <div
      class="prose prose-lg prose-green mx-2 my-16 flex max-w-7xl flex-col md:prose-lg md:flex-row lg:mx-auto lg:my-24"
    >
      <div class="basis-full md:basis-1/4">
        <div class="sticky top-10">
          {
            list_services.map((service: any) => (
              <a href={service.url_id} class="">
                <div class="block rounded-lg px-4 py-2 text-xl font-bold text-cyan-700/100 hover:bg-zinc-50 hover:text-teal-700 dark:text-white/100 dark:hover:bg-teal-200 dark:hover:text-teal-800">
                  {service.name}
                </div>
              </a>
            ))
          }
        </div>
      </div>
      <div class="basis-full md:basis-3/4"><slot /></div>
    </div>
  </article>
</Base>
