---
import Base from '@layouts/Base.astro';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import HeroService from '@components/HeroService.astro';
import CalendarIcon from '@icons/CalendarIcon.astro';
import CategoryIcon from '@icons/CategoryIcon.astro';
import { Image } from 'astro:assets';
import config from '@config/config.json';
import { slugify } from '@utils/slug';
import Banners from '@components/Banners.astro';
import WorkTechnology from '@components/WorkTechnology.astro';

type Props = CollectionEntry<'uslugi'>['data'];

const {
  title,
  description,
  pubDate,
  descr,
  heroImage,
  categories,
  tags,
  icon,
  box,
  min_price,
  h_one,
  list_services,
  banners,
} = Astro.props;
---

<Base meta_title={title} {description} image={heroImage} uslugipost>
  <article>
    <HeroService {heroImage} {descr} {h_one} {icon} {box} {min_price} {list_services} />
    <Banners {banners} />

    <WorkTechnology />
    <div class="md:col-10 mb-12 text-center">
      <div class="text-text mt-4 flex flex-wrap items-center justify-center text-zinc-800 dark:text-zinc-200">
        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <figure>
            <Image
              alt={config.author.name}
              class="mr-2 h-6 w-6 rounded-full"
              width={50}
              height={50}
              src={config.author.avatar}
              decoding="async"
              loading="lazy"
            />
          </figure>
          <span>{config.author.name}</span>
        </div>
        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <CalendarIcon />
          <FormattedDate date={pubDate} />
        </div>
        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <CategoryIcon />
          {
            categories?.slice(0, 1).map((category) => (
              <a href={`/categories/${slugify(category)}`} class="hover:text-primary mr-2 font-medium capitalize">
                {category}
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <div class="prose-md prose prose-green min-w-full md:prose-lg">
      <slot />
    </div>
    <div class="mt-8">
      {
        tags?.map((tag) => (
          <a
            href={`/tags/${slugify(tag)}`}
            class="mb-2 mr-2 inline-block rounded-full bg-zinc-200 px-3 py-1 text-sm font-semibold capitalize text-zinc-700 dark:bg-zinc-900 dark:text-zinc-400"
          >
            #{tag}
          </a>
        ))
      }
    </div>
  </article>
</Base>
